{# templates/lucky/number.html.twig #}
Hello, {{the_name}}
<h1>Your lucky number is {{ number }}</h1>
<h2>The binary version is {{number_binary}}</h2>
<h2>The hexadecimal version is {{number_hex}}</h2>

binary
0 1

decimal
0 1 2 3 4 5 6 7 8 9 

hexadecimal
0 1 2 3 4 5 6 7 8 9 A B C D E F